/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
a {
  color: #c80000;
}
a:hover {
  color: #820000;
}
.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.leftside {
  width: 23%;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background: #ff2d0c;
  background: linear-gradient(to bottom right, #ff2d0c 0%, #6c0103 100%);
  background: linear-gradient(to bottom right, #000000 0%, #820002 100%);
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.leftside nav {
  position: relative;
  z-index: 999;
}
.leftside nav .logo {
  text-align: center;
  margin-bottom: 25px;
}
.leftside nav .logo h1 {
  font-size: 32px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
  margin-top: 15px;
  font-family: 'coconregular';
  color: #fff;
}
.leftside nav .logo img {
  width: 130px;
}
.leftside nav ul {
  padding: 0;
  margin: 0;
}
.leftside nav ul li {
  list-style: none;
}
.leftside nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 15px;
}
.leftside nav ul li a i {
  float: left;
  width: 24px;
  margin-right: 8px;
  line-height: 18px;
}
.leftside nav ul li a:hover {
  background-color: rgba(200, 200, 200, .2);
}
.leftside nav ul li a.active, .leftside nav ul li a.active:hover {
  background: #fff;
  color: #000;
}
.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 23%);
}
.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 25%);
  margin-right: 1%;
}
.main-panel .main-content {
  margin-top: 0px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}
.navbar.navbar-transparent {
  border-bottom: 1px solid #e0e0e0;
}
@font-face {
  font-family: 'coconregular';
  src: url('../fonts/ufonts.com_cocon-regular-opentype-webfont.woff2') format('woff2'),
       url('../fonts/ufonts.com_cocon-regular-opentype-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.sidebar .logo h1{
  font-family: 'coconregular';
  font-size: 32px;
  color: #fff;
}
.sidebar .logo {
  text-align: center;
}
.sidebar .logo img {
  width: 130px;
}
.leftside:after {
  content: "0";
  background: url('../img/page-bg.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: 0.2;
  font-size: 0;
  left: 0;
}
.sidebar .nav li a, .sidebar .nav li .dropdown-menu a, .sidebar .nav i {
  color: #ffffff;
}
.sidebar .nav li.active > a,
.sidebar .nav li.active:hover > a{color: #000 !important; background-color: #fff}
.sidebar .nav li:hover > a {
  background-color:rgba(200, 200, 200, 0.2);
  color: #fff !important;
  
}
.sidebar .nav li.active > a i, .sidebar .nav li.active:hover > a i{color: black} 
.sidebar .nav li:hover > a i{
  color: #fff;
}
.sidebar .sidebar-wrapper{
  width: auto
}
body {
  background-color: #fff;}
  a.navbar-brand {
    font-size: 30px  !important;
    text-decoration: none !important;
}
rect.highcharts-background {
  fill: none;
}
.mat-row:nth-child(odd) {
  background: #fafafa;
}

nav.top-breadcrumb {
  float: left;
}

.right_btn {
  float: right;
}
.right_btn a.btn-md {
  margin-top: 13px;
}
.breadcrumb {
  background:none !important; padding: 0 1rem;
  margin-bottom: 0;
}
.top-search-main .mat-toolbar {
  background: none;
}
.top-search-main button.btn.btn-white.btn-round.btn-just-icon.btn_cls.ng-star-inserted{margin: 0}
.mat-step-header .mat-step-icon {
  background-color: #b53f3f;
  color: #fff;
}
th.line.ng-star-inserted {
  margin-left: 900px;
}
td.line.ng-star-inserted {
  /* margin-left: 700px; */
  /* margin-right: -250px; */
  position: relative;
  left: 450px;
}
.stats.linecls.ng-star-inserted {
  margin-left: 520px;
}